@{
	ViewBag.Title = "Foto's";
}

<h1>Foto's</h1>
<p>Heb jij ook foto's die je wilt delen? Neem @Html.ActionLink("contact", "Index", "Contact" ) op met Luuk.</p>
<h2>Foto's 20-11-2011</h2>
@Html.ImpressionImage("20111120-4_group", "4/img_3058.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3059.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3060.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3062.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3063.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3064.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3065.jpg" )
@Html.ImpressionImage("20111120-4_group", "4/img_3066.jpg" )
<h2>Foto's 30-10-2011</h2>
@Html.ImpressionImage("20111030-3_group", "3/img_3041.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3042.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3043.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3044.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3045.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3046.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3047.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3048.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3049.jpg" )
@Html.ImpressionImage("20111030-3_group", "3/img_3050.jpg" )
<h2>Foto's 06-10-2011</h2>
@Html.ImpressionImage("20111006-2_group", "2/img_2855.jpg")
@Html.ImpressionImage("20111006-2_group", "2/img_2856.jpg")
@Html.ImpressionImage("20111006-2_group", "2/img_2857.jpg")
@Html.ImpressionImage("20111006-2_group", "2/img_2858.jpg")
<h2>Foto's 24-09-2011 (Nationale nieuwbouwdag van Marco)</h2>
@Html.ImpressionImage("20110924-1_group", "1/img_2792.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2793.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2794.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2796.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2797.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2799.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2800.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2801.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2802.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2805.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2806.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2811.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2812.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2813.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2814.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2816.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2822.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2824.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2833.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2835.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2836.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2837.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2839.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2840.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2841.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2842.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2843.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2844.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2845.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2846.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2847.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2848.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2849.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2850.jpg" )
@Html.ImpressionImage("20110924-1_group", "1/img_2851.jpg" )
<h2>Foto's 24-09-2011 (Nationale nieuwbouwdag)</h2>
@Html.ImpressionImage("20110924_group", "img_2781.jpg" )
@Html.ImpressionImage("20110924_group", "img_2782.jpg" )
@Html.ImpressionImage("20110924_group", "img_2783.jpg" )
@Html.ImpressionImage("20110924_group", "img_2784.jpg" )
@Html.ImpressionImage("20110924_group", "img_2785.jpg" )
@Html.ImpressionImage("20110924_group", "img_2786.jpg" )
@Html.ImpressionImage("20110924_group", "img_2787.jpg" )
@Html.ImpressionImage("20110924_group", "img_2788.jpg" )
@Html.ImpressionImage("20110924_group", "img_2789.jpg" )
@Html.ImpressionImage("20110924_group", "img_2790.jpg" )
@Html.ImpressionImage("20110924_group", "img_2791.jpg" )
@Html.ImpressionImage("20110924_group", "img_2792.jpg" )
@Html.ImpressionImage("20110924_group", "img_2793.jpg" )
@Html.ImpressionImage("20110924_group", "img_2794.jpg" )
@Html.ImpressionImage("20110924_group", "img_2795.jpg" )
@Html.ImpressionImage("20110924_group", "img_2796.jpg" )
@Html.ImpressionImage("20110924_group", "img_2797.jpg" )
@Html.ImpressionImage("20110924_group", "img_2798.jpg" )
@Html.ImpressionImage("20110924_group", "img_2799.jpg" )
@Html.ImpressionImage("20110924_group", "img_2800.jpg" )
@Html.ImpressionImage("20110924_group", "img_2801.jpg" )
@Html.ImpressionImage("20110924_group", "img_2802.jpg" )
@Html.ImpressionImage("20110924_group", "img_2803.jpg" )
@Html.ImpressionImage("20110924_group", "img_2804.jpg" )
@Html.ImpressionImage("20110924_group", "img_2805.jpg" )
@Html.ImpressionImage("20110924_group", "img_2806.jpg" )
@Html.ImpressionImage("20110924_group", "img_2807.jpg" )
@Html.ImpressionImage("20110924_group", "img_2808.jpg" )
@Html.ImpressionImage("20110924_group", "img_2809.jpg" )
@Html.ImpressionImage("20110924_group", "img_2810.jpg" )
@Html.ImpressionImage("20110924_group", "img_2811.jpg" )
@Html.ImpressionImage("20110924_group", "img_2812.jpg" )
@Html.ImpressionImage("20110924_group", "img_2813.jpg" )
@Html.ImpressionImage("20110924_group", "img_2814.jpg" )
@Html.ImpressionImage("20110924_group", "img_2815.jpg" )
<div id="before"></div>

<p><button id="more-photos">Meer foto's <img id="loadimg" alt="loading" src="@Url.Content( "~/images/loading.gif")" style="display:none;" /></button></p>

@section Header
{
	<link rel="stylesheet" type="text/css" href="@Url.Content( "~/fancybox/jquery.fancybox-1.3.4.min.css")" media="screen" />
	<script type="text/javascript" src="@Url.Content( "~/fancybox/jquery.mousewheel-3.0.4.pack.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/fancybox/jquery.fancybox-1.3.4.pack.js")"></script>
	<script type="text/javascript">
		var page = 1;

		$(function () {
			$("a[rel]").fancybox({
				'transitionIn': 'none',
				'transitionOut': 'none',
				'titlePosition': 'over',
				'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});

			$("#more-photos").click(function () {
				$("#loadimg").show();
				$.get('@Url.Content("~/Photos/Page/")' + page, function (data) {
					$('#before').before('<div id="page_' + page + '" style="display:none"">' + data + '</div');
					$("#page_" + page + " a[rel]").fancybox({
						'transitionIn': 'none',
						'transitionOut': 'none',
						'titlePosition': 'over',
						'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
							return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
						}
					});
					$("#page_" + page ).fadeIn("slow");
					$("#loadimg").hide();
					page++;
					if (page > 6)
					{
						$("#more-photos").hide();
					}
				});
			});
		});
	</script>
}